.LogbookEntries {
  .logbook-entries {
    li {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      box-shadow: 0 0 5px 0 #e8e8e8;

      button {
        font-weight: 600;
      }
    }
  }
}
