.data {
    padding: 10px;
    box-shadow: 0 5px 0 0 #f1f1f1;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    background-color: $strong-yellow;
    padding: 10px;
    border: none;
    border-radius: 5px;
}