.OJTAnalytics {
  .container {
    box-shadow: 0 0 3px 0 #e1e1e1;
  }
  
  .chart-container {  
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;

    .chart {
      flex: 1;
      padding: 15px;
      box-shadow: 0 0 5px 0 #e1e1e1;
      border-radius: 5px;
    }
  }

  .data-table {
    padding: 10px;

    h4 {
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;

      td,
      th {
        padding: 8px;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }

  .filter-options {
    padding: 10px;

    h4 {
      margin-bottom: 20px;
    }

    .filters {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .select-container {
        display: flex;
        flex-direction: column;
        gap: 10px; 

        select {
          padding: 8px;
          cursor: pointer;
          border: none;
          outline: none;
          box-shadow: 0 0 3px 0 #cecece;
        }

        .date-time-container {
          display: flex;
          gap: 20px; 
          
          div {
            display: flex;
            flex-direction: column;
            flex: 1;

            label {
              font-weight: bold;
            }

            input {
              padding: 8px;
              cursor: pointer;
              border: none;
              outline: none;
              box-shadow: 0 0 3px 0 #cecece;
              flex: 1; 
            }
          }
        }
      }

      button {
        align-self: flex-start; 
        background-color: $strong-yellow;
        border: none;
        outline: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
