.logbook-form {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.group {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  background-color: #ffd633;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
 .logbook-entry {
  display: flex;
  justify-content: space-between;
}
