.logbook-form {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logbook-form .group {
  margin-bottom: 20px;
}

.logbook-form label {
  display: block;
  margin-bottom: 5px;
}

.logbook-form input,
.logbook-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.logbook-form button {
  width: 100%;
  background-color: #FFD633;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
