// * {
//   box-sizing: border-box;
// }

// body {
//   background: #f6f5f7;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   font-family: "Montserrat", sans-serif;
//   height: 100vh;
//   margin: -20px 0 50px;
// }

.login-signup-wrapper {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
