main {
  margin-left: $sidebar-width;
  padding: $main-padding;
  margin-top: $header-height;
  margin-bottom: $header-height;

  h3 {
    color: $main-red;
  }

  section {
    .separator {
      padding: 5px;
      background-color: $main-red;
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
    }
  }

  section.student-info-wrapper {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      li {
        padding: 10px 0;

        .title {
          color: grey;
        }

        .description {
          font-weight: bold;
        }
      }
    }
  }

  section.ojt-hrs-tracking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .title-container {
      display: flex;
      justify-content: space-between;
    }
    // table

    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
      margin: 20px 0;

      th {
        padding: 10px 0;
      }
      td {
        padding: 5px 0;
      }
    }
    button {
      padding: 7px;
      border: none;
      border-radius: 5px;
      width: 200px;
      align-self: center;
      background-color: $strong-yellow;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .ProgressOverview {
    .progress-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 20px 0;

      .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px 0 #dcdcdc;
        border-radius: 10px;
        padding: 30px 20px;

        .description {
          font-weight: bold;
        }

        .Progress {
          width: 100px;

          .CircularProgressbar-path {
            stroke: #f6b15d;
          }

          .CircularProgressbar-text {
            fill: black;
          }
        }
      }
    }
  }
}
