main {
  margin-left: $sidebar-width;
  padding: $main-padding;
  margin-top: $header-height;
  margin-bottom: $header-height;

  h3 {
    color: $main-red;
  }

  section {
    .separator {
      padding: 5px;
      background-color: $main-red;
      width: 100%;
      border-radius: 10px;
      margin: 20px 0;
    }
  }
}

@import "./Dashboard/Dashboard.scss";
@import "./StudentProgress/StudentProgress.scss";
