@media only screen and (max-width: 768px) {
  .Sidebar {
    display: none;
  }
  main {
    margin-left: 0 !important;
    padding: 20px !important;
  }

  .Header {
    .logout {
      display: none;
    }
  }

  .Footer {
    display: none;
  }

  h1,
  h2 {
    font-size: 1.25rem !important;
  }

  .Dashboard {
    h3 {
      font-size: 1rem;
    }
    .student-info {
      //   display: block !important;
      font-size: 0.9rem;
    }

    .ojt-hrs-tracking {
      table {
        td,
        th,
        tr {
          font-size: 0.9rem;
        }
      }
    }

    .progress-wrapper {
      display: block !important;

      .progress-container {
        margin-bottom: 15px;
      }
    }
  }
}

@import "./HamburgerNavigation.scss";
