// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  // font-family: "Montserrat";
}

// colors
$header-color: #fff8dc;
$main-red: #660000;
$strong-yellow: #ffd633;

//dimensions
$header-height: 50px;
$footer-height: 60px;
$sidebar-width: 300px;
$bar-padding: 20px;
$main-padding: 20px;

// common styles
@import "./Common/Sidebar.scss";
@import "./Common/Header.scss";
@import "./Common/Footer.scss";

// main
@import "./Main/Main.scss";

//LogbookForm
@import "./LogbookSubmission/LogbookForm.scss";

// loginSingup
@import "./UserManagement/Login_Signup.scss";
@import "./UserManagement/ActivateAccounts.scss";
@import "./TaskMonitoring/TaskMonitoring.scss";
@import "./OJTAnalytics/OJTAnalytics.scss";

//submittedLogbooks
@import "./SubmittedLogbooks/SubmittedInfo.scss";

//traineeEvaluation
@import "./TraineeEvaluation/TraineeEvaluation.scss";

//InternEvalFeedbackForm
@import "./InternEvalFeedbackForm/InternEvalFeedbackForm.scss";

//LogbookEntries
@import "./LogbookEntries/LogbookEntries.scss";

//Training plan
@import "./TrainingPlan/TrainingPlan.scss";

// responsiveUI
@import "./ResponsiveUI/ResponsiveUI.scss";
